{% extends "layout.html" %}

{% block title %}
    New habit
{% endblock %}

{% block main %}
    <!--the classes were all transferred from finance to here-->
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">sign upn</button>
    </form>
{% endblock %}
